<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>{{pageTitle}}</title>

    <!-- STYLES -->
    <link rel='stylesheet' href='/assets/css/reset.css'>
    <link rel='stylesheet' href='/assets/css/main.css'>
    {{#each styleSheets}}
    <link rel='stylesheet' href='/assets/css/{{this}}.css'>
    {{/each}}
</head>
<body>
    <header>
        <h1 id='page-title'>Post Family Tree</h1>
        <nav>
            <button id='logout-button'>Logout</button>
        </nav>
    </header>

    <hr>

    <main>
        {{{body}}}
    </main>

    <hr>

    <footer>
        <div id='copyright'>
            <span>Made with ❤️️ by Makai Post</span>
            <span>© 2020</span>
        </div>
    </footer>

    <span id="toast"></span>

    <!-- SCRIPTS -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="/assets/js/global.js"></script>
    <script src="/assets/js/main.js"></script>
    {{#each scriptSheets}}
    <script src="/assets/js/{{this}}.js"></script>
    {{/each}}
</body>
</html>