form h2 {
  margin-bottom: 10px;
}

form .button-row {
  text-align: right;
  padding-top: 5px;
}

form input:not([type='checkbox']):not([type='radio']) {
  width: 200px;
  padding: 2px 5px;
}

form label {
  padding-right: 10px;
}

form .form-info {
  font-size: 1.25rem;
  color: #5e98a7;
  position: relative;
  cursor: help;
  visibility: hidden;
}

form .form-info:hover::before {
  position: absolute;
  transform: translate(-100%, -20%);
  background-color: #ddd;
  white-space: pre;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.85rem;
}

form tr:focus-within .form-info {
  visibility: visible;
}

#info-box {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  max-width: calc(min(500px, calc(100% - 20px)));
  z-index: 9;
  background-color: #c1e6ff;
  font-size: 0.85rem;
  border: 1px dashed #42b3ff;
  padding: 10px;
  pointer-events: none;
  border-radius: 5px;
}

#info-box p {
  white-space: pre-wrap;
}
