@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500&display=swap");
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Tajawal', sans-serif;
}

body > * {
  flex: 0 0 auto;
}

body hr {
  width: 100%;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

header #page-title {
  font-family: 'Poiret One', cursive;
  font-weight: normal;
  margin: 0;
  white-space: nowrap;
  margin: 10px 25px;
}

header #menu {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
  margin: 10px 25px;
}

header #menu > * {
  margin: 0;
  outline: none;
}

header #menu > *:hover {
  background: #DDD;
}

header #menu > *:focus {
  background: #DDD;
}

header #menu > *:not(:first-child) {
  margin-right: 10px;
}

header #menu #menu-item-username {
  display: flex;
  align-items: center;
  border-radius: 100px;
  padding: 5px 10px 5px 5px;
}

header #menu #menu-item-username #menu-user-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
  background-color: #6b8d95;
  background: auto;
  background-size: 24px auto;
  background-repeat: no-repeat;
}

header #menu #menu-item-username #menu-user-icon #menu-user-abv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 500;
  font-size: 80%;
}

header #menu #menu-item-username #menu-user-name {
  font-size: 110%;
}

nav {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav #details {
  display: flex;
  align-items: center;
}

nav #details a {
  padding: 5px 10px;
  margin: 2px;
  border-radius: 5px;
  color: gray;
  text-decoration: none;
}

nav #details a.active {
  background: #e1e1e1;
}

nav #details a:focus {
  outline: none;
  background: #7ebedf;
  color: white;
}

nav #details a:hover {
  background: #c8c8c8;
  color: gray;
}

nav #details a:active {
  background: #bbbbbb;
  color: gray;
}

nav #search {
  display: flex;
  align-items: center;
}

nav #search #person-search-input {
  flex: 1 0 auto;
  border: none;
  border-bottom: 2px solid #888;
  box-sizing: content-box;
  font-size: 16px;
  background: transparent;
  padding: 2px 10px;
  margin: 10px 0 0 0;
}

nav #search #person-search-input:focus {
  outline: none;
}

nav #search #person-search-submit {
  flex: 0 0 auto;
  text-align: center;
  width: 30px;
  height: 30px;
  box-sizing: content-box;
  background-color: transparent;
  background-image: url("../images/magnifying-glass.svg");
  background-size: 19.8px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  padding: 0;
  transition: 0.15s;
}

nav #search #person-search-submit:focus, nav #search #person-search-submit:hover {
  outline: none;
  background-size: 30px;
  fill: red;
}

nav #search #person-search-submit:active {
  background-size: 25.5px;
}

main {
  flex: 1 0 auto;
}
